.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text